<div class="container" id="container"  >	

<article class="grid-item" data-masonry-item ng-repeat="value in news" diferentheight> <header> <div class="category">{{value.category}}	</div> <div class="date">	{{value.date}}</div></header>	<div class="title">	{{value.title}}</div> <img ng-src="{{value.img}}" alt=""> <div class="description">{{value.description}}</div> <footer><div class="case"> <img src="views/images/suitcase.png">	</div>	<div class="likes"> <div class="figure"><img src="views/images/hadup.png">	<div class="value">	{{value.likes}}</div>	</div>	</div> <div class="share"><img src="views/images/share.png">		</div></footer></article>



</div>


